.header-top-left-menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 50em;
}

.header-top-right-menu {
    display: flex;
    align-items: center;
}

.header-main-logo {
    height: 2em;
}

.header-search-border {
    display: flex;
    align-items: center;
    border: 0.1em solid lightgrey;
    border-radius: 2.5em;
    height: 2.7em;
    width: 40em;
    margin: 0.75em;
}

.header-search-field {
    border: none;
    outline: none;
    height: 2em;
    width: 35em;
    margin-left: 1.5em;
    margin-right: 1em;
    font-size: 1em;
    line-height: 2em;
}

.header-top-full-menu {
    display: flex;
    justify-content: space-between;
}

.material-icons-dialpad {
    padding: 0.5em 0.3em 0.1em 0.3em;
    height: 1.5em;
    width: 1.5em;
    opacity: 0.6;
}

.material-icons-dialpad:hover {
    border-radius: 2em;
    background-color: lightgrey; 
}

.material-icons-dialpad:hover > .material-icons-dialpad-blocker {
    background-color: lightgrey;
}

.material-icons-dialpad-blocker {
    height: 0.4em;
    width: 0.4em;
    left: 0.5em;
    position: relative;
    bottom: 0.65em;
    background-color: white;
}

.header-user-icon {
    padding: 1em;
    border-radius: 2em;
}